<body>
  <header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLUlyxGE27lc9aB6GM0RSOvQ6DPVZcJxKEZBrS4SkfthGVnyU8UAp1JvZ1a6vxP1NgCNI&usqp=CAU" alt="company-logo">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="welcome">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="book">Book-Appointment</a>
  
        </li>
        <li class="nav-item">
          <a class="nav-link" href="view">View-Appointment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="query">Query</a>
        </li>
        <!-- <li class="nav-item">
          <button mat-raised-button="primary">Button</button>
        </li> -->
      </ul>
    </div>
    </nav>
  
  </header>
  
  <router-outlet></router-outlet>

  </body>
  <footer class="foot">
    <div class="row">
  
      <div class="col-sm-6">
  
       
  
      </div>
  
      <div class="col-sm-3">
  
        <h5>Useful Links</h5>
  
        <div>
  
          <a class="link-info" style="text-decoration: none;" [routerLink]="['/home']">Home</a>
  
      </div>
  
      <div>
  
          <a class="link-info" style="text-decoration: none;" [routerLink]="['/home']">View Appointments</a>
  
      </div>
  
      <div>
  
          <a class="link-info" style="text-decoration: none;" [routerLink]="['/home']">Place Appointments</a>
  
      </div>
  
      <div>
  
          <a class="link-info" style="text-decoration: none;" [routerLink]="['/home']">Contact Us</a>
  
      </div>
  
      </div>
      <div class="col-sm-3">
  
        <h5>Contacts</h5>
  
        <div>
  
            <a class="link-info" style="text-decoration: none;" [routerLink]="['/home']">Company Address</a>
  
        </div>
  
        <div>
  
            <a class="link-info" style="text-decoration: none;" [routerLink]="['/home']">Company Email</a>
  
        </div>
  
        <div>
  
            <a class="link-info" style="text-decoration: none;" [routerLink]="['/home']">Company Phone</a>
  
        </div>
  
        <div>
  
            <a class="link-info" style="text-decoration: none;" [routerLink]="['/home']">Company Fax</a>
  
        </div>
  
      </div>
  
    </div>
  
    <div class="row mt-4 text-center">
  
      <div class="col te" >
  
          &copy; 2022 GET-FIT Health Club
  
      </div>
  
  </div>
  </footer>
  
  
  
  
  