img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100px;
  }

footer{
    bottom: 0;
    right: 0;
    width: 50%;
    display: block;
    position:fixed;
    
    
}

.te{
    text-align: right;
}